<mat-toolbar>
  <button mat-button>
    Home
  </button>
  <button mat-button (click)="onDashboard()">Dashboard</button>
  <button mat-button (click)="onServiceSearch()">Service Search</button>
  <button mat-button>Admin</button>
  <span class="app-toolbar-filler"></span>
  <label>Quick Find</label>
  <input class="input-text">
  <button mat-icon-button>
    <i class="fa fa-search fa-2x" aria-hidden="true"> </i>
  </button>
</mat-toolbar>
